@import "tailwindcss";

body {
    margin-top: 50px;
}

/* index.html file ar login section */
#loginInfo {
    background: url(../assets/Logo-full.png) no-repeat cover center;

}

/* home.html file ar  card section */
.card-description {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    justify-content: space-between;
    align-items: center;
    max-width: 500px;
    row-gap: 30px;
    margin: 40px 0px 0px 15px;

}