@import "tailwindcss";

body {
    margin-top: 50px;
}

/* index.html file ar login section */
#loginInfo {
    background: url(../assets/Logo-full.png) no-repeat cover center;

}

/* home.html file ar card section */
.card-description {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 16px;
    width: 100%;
    padding: 16px;
}